# **DataCure Team**

# Project Title: Diabetes Prediction Model Using Health and Demographic Data

## Problem Definition

Diabetes is a growing health concern worldwide, impacting millions of lives and increasing the burden on healthcare systems. Early detection of diabetes can improve patient outcomes and help healthcare providers allocate resources more effectively. This project aims to develop a binary classification model that predicts whether an individual is likely to have diabetes (Yes or No) based on their health data, lifestyle factors, and demographic information.

## Objective

The primary objective of this project is to create a machine learning model that accurately predicts diabetes status using structured health data. The final model will be deployed as a Streamlit web application, allowing users to input patient data and receive instant predictions.

## Dataset Description

The dataset used for this project is obtained from the UCI Repository. It contains health and demographic data of individuals, with each row representing a single person’s record.
Features:
1. **HighBP:** Whether the individual has high blood pressure (1: Yes, 0: No).
2. **HighChol:** Whether the individual has high cholesterol (1: Yes, 0: No).
3. **CholCheck:** Cholesterol check in the last 5 years (1: Yes, 0: No).
4. **BMI:** Body Mass Index (numerical).
5. **Smoker:** Smoking status (1: Smoker, 0: Non-smoker).
6. **Stroke:** History of stroke (1: Yes, 0: No).
7. **HeartDiseaseorAttack:** activity engagement (1: Yes, 0: No).
9. **Fruits:** Frequency of fruit consumption (1: Yes, 0: No).
10. **Veggies:** Frequency of vegetable consumption (1: Yes, 0: No).
11. **HvyAlcoholConsump:** Heavy alcohol consumption status (1: Yes, 0: No).
12. **AnyHealthcare:** Access to healthcare services (1: Yes, 0: No).
13. **NoDocbcCost:** Couldn’t see a doctor due to cost (1: Yes, 0: No).
14. **GenHlth:** General health rating (1: Excellent, ..., 5: Poor).
15. **MentHlth:** Number of days of poor mental health in the past month.
16. **PhysHlth:** Number of days of poor physical health in the past month.
17. **DiffWalk:** Difficulty walking or climbing stairs (1: Yes, 0: No).
18. **Sex:** Biological sex (1: Male, 0: Female).
19. **Age:** Age category (1: 18–24, ..., 13: 80+).
20. **Education:** Education level (1: No high school, ..., 6: College graduate).
21. **Income:** Income level (1: <$10k, ..., 8: $75k+).
22. **Outcome:** Target variable indicating diabetes status (1: Yes, 0: No).

## Data Collection

The dataset was sourced from the UCI Repository. It was downloaded as a CSV file and loaded into Jupyter Noebook for analysis.

#### Laoding the Libraries

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

#### Loading Dataset

In [29]:
df = pd.read_csv('diabetes.csv')

In [33]:
# checking the head
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [35]:
## checking the tail
df.tail()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
253675,0.0,1.0,1.0,1.0,45.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,5.0,0.0,1.0,5.0,6.0,7.0
253676,2.0,1.0,1.0,1.0,18.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4.0,0.0,0.0,1.0,0.0,11.0,2.0,4.0
253677,0.0,0.0,0.0,1.0,28.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,5.0,2.0
253678,0.0,1.0,0.0,1.0,23.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,7.0,5.0,1.0
253679,2.0,1.0,1.0,1.0,25.0,0.0,0.0,1.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,9.0,6.0,2.0

#### Data Cleaning and Preprocessing

##### Basic structure

In [39]:
# Display general information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [41]:
## checking the number of rows and columns 
df.shape

(253680, 22)

In [47]:
# Listing all the columns
df.columns

Index(['Diabetes_012', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [49]:
#  Checking the statistical summary for numerical columns
df.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [51]:
# Checking for missing values
df.isnull().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [53]:
# Checking the unique values for each column
for i in df.columns:
    i = df.value_counts(i)
    print(f'\n\n\nvalues of {i}')

values of Diabetes_012
0.0    213703
2.0     35346
1.0      4631
Name: count, dtype: int64



values of HighBP
0.0    144851
1.0    108829
Name: count, dtype: int64



values of HighChol
0.0    146089
1.0    107591
Name: count, dtype: int64



values of CholCheck
1.0    244210
0.0      9470
Name: count, dtype: int64



values of BMI
27.0    24606
26.0    20562
24.0    19550
25.0    17146
28.0    16545
        ...
86.0        1
90.0        1
91.0        1
78.0        1
96.0        1
Name: count, Length: 84, dtype: int64



values of Smoker
0.0    141257
1.0    112423
Name: count, dtype: int64



values of Stroke
0.0    243388
1.0     10292
Name: count, dtype: int64



values of HeartDiseaseorAttack
0.0    229787
1.0     23893
Name: count, dtype: int64



values of PhysActivity
1.0    191920
0.0     61760
Name: count, dtype: int64



values of Fruits
1.0    160898
0.0     92782
Name: count, dtype: int64



values of Veggies
1.0    205841
0.0     47839
Name: count, dtype: int64



values of HvyAlcoholConsump
0.0    239424
1.0     14256
Name: count, dtype: int64



values of AnyHealthcare
1.0    241263
0.0     12417
Name: count, dtype: int64



values of NoDocbcCost
0.0    232326
1.0     21354
Name: count, dtype: int64



values of GenHlth
2.0    89084
3.0    75646
1.0    45299
4.0    31570
5.0    12081
Name: count, dtype: int64



values of MentHlth
0.0     175680
2.0      13054
30.0     12088
5.0       9030
1.0       8538
3.0       7381
10.0      6373
15.0      5505
4.0       3789
20.0      3364
7.0       3100
25.0      1188
14.0      1167
6.0        988
8.0        639
12.0       398
28.0       327
21.0       227
29.0       158
18.0        97
9.0         91
16.0        88
27.0        79
22.0        63
17.0        54
26.0        45
13.0        41
11.0        41
23.0        38
24.0        33
19.0        16
Name: count, dtype: int64



values of PhysHlth
0.0     160052
30.0     19400
2.0      14764
1.0      11388
3.0       8495
5.0       7622
10.0      5595
15.0      4916
4.0       4542
7.0       4538
20.0      3273
14.0      2587
25.0      1336
6.0       1330
8.0        809
21.0       663
12.0       578
28.0       522
29.0       215
9.0        179
18.0       152
16.0       112
27.0        99
17.0        96
24.0        72
22.0        70
26.0        69
13.0        68
11.0        60
23.0        56
19.0        22
Name: count, dtype: int64



values of DiffWalk
0.0    211005
1.0     42675
Name: count, dtype: int64



values of Sex
0.0    141974
1.0    111706
Name: count, dtype: int64



values of Age
9.0     33244
10.0    32194
8.0     30832
7.0     26314
11.0    23533
6.0     19819
13.0    17363
5.0     16157
12.0    15980
4.0     13823
3.0     11123
2.0      7598
1.0      5700
Name: count, dtype: int64



values of Education
6.0    107325
5.0     69910
4.0     62750
3.0      9478
2.0      4043
1.0       174
Name: count, dtype: int64



values of Income
8.0    90385
7.0    43219
6.0    36470
5.0    25883
4.0    20135
3.0    15994
2.0    11783
1.0     9811
Name: count, dtype: int64

In [63]:
# Checking for duplicate rows
df.duplicated().sum()

23899

We have about 23,899 duplicate rows. Hence we will remove them

In [66]:
# Removing duplicate rows
df = df.drop_duplicates()

In [70]:
# Reconfirming if we still have duplicate rows
df.duplicated().sum()

0

In [72]:
# checking the new shape of our data
df.shape

(229781, 22)

After removing the duplicate rows, we now have 229,781 rows and 21 columns

### Exploratory Data Analysis (EDA)

##### Histograms to show distributions

In [1]:
df.hist(bins=30, figsize=(15, 10)) 
plt.suptitle('Feature Distributions') 
plt.savefig("Feature Distribution.png", dpi=300, bbox_inches='tight') # Save the plot 
plt.show()

NameError: name 'df' is not defined

##### Correlation matrix

##### Checking for Outliers

### Feature Engineering

##### Standardize numerical columns

##### Train-Test Split

##### Model Selection

##### XGBoost

##### Logistic Regression

##### Decision Trees

##### Random Forest

### Model Evaluation

In [49]:
#### Check for accuracy, precision, recall, and F1-score

In [51]:
#### Plot the confusion matrix

### Saving the best performing model